<a href="https://colab.research.google.com/github/angeellnt/Probabilidad-y-Estadistica/blob/main/Unidad1/Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y estadistica
## Unidad 1
**Practica 3. Tablas de frecuencias**

Facilitador: Dr. Jose Gabriel Rodriguez Rivas

Alumno: Angel Alexander Rios Silva

In [ ]:
import random
import pandas as pd

edades = []
for i in range(100):
  numero_aleatorio = random.randint(18, 70)
  edades.append(numero_aleatorio)
print(edades)

[20, 49, 34, 67, 54, 20, 33, 65, 59, 62, 50, 56, 38, 55, 61, 34, 29, 24, 62, 53, 46, 36, 55, 22, 36, 63, 21, 18, 55, 67, 23, 20, 52, 46, 34, 42, 31, 30, 67, 36, 43, 35, 23, 34, 39, 34, 31, 67, 33, 63, 24, 48, 33, 47, 25, 58, 22, 64, 48, 33, 57, 57, 68, 32, 62, 40, 66, 27, 20, 50, 37, 19, 54, 38, 54, 23, 51, 21, 54, 27, 41, 26, 70, 28, 70, 55, 30, 58, 33, 70, 68, 36, 70, 18, 26, 31, 45, 26, 36, 58]

In [ ]:
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    20
1    49
2    34
3    67
4    54

In [ ]:
tabla_frec = df['Edad'].value_counts().reset_index()
tabla_frec.columns = ['Edad', 'Frecuencia']
tabla_frec = tabla_frec.sort_values(by='Edad')

print("Tabla de distribucion de frecuencias:")
tabla_frec

Tabla de distribucion de frecuencias:

    Edad  Frecuencia
19    18           2
45    19           1
5     20           4
13    21           2
23    22           2
10    23           3
14    24           2
34    25           1
12    26           3
20    27           2
48    28           1
27    29           1
24    30           2
9     31           3
41    32           1
0     33           5
1     34           5
37    35           1
2     36           5
44    37           1
16    38           2
36    39           1
43    40           1
46    41           1
39    42           1
38    43           1
49    45           1
15    46           2
35    47           1
18    48           2
32    49           1
17    50           2
47    51           1
33    52           1
26    53           1
7     54           4
3     55           4
28    56           1
22    57           2
11    58           3
30    59           1
29    61           1
8     62           3
25    63           2
40    64           1
31    65           1
42    66           1
4     67           4
21    68           2
6     70           4

In [ ]:
tabla_frec['Frec Relativa'] = tabla_frec['Frecuencia'] / 100
tabla_frec

    Edad  Frecuencia  Frec Relativa
19    18           2           0.02
45    19           1           0.01
5     20           4           0.04
13    21           2           0.02
23    22           2           0.02
10    23           3           0.03
14    24           2           0.02
34    25           1           0.01
12    26           3           0.03
20    27           2           0.02
48    28           1           0.01
27    29           1           0.01
24    30           2           0.02
9     31           3           0.03
41    32           1           0.01
0     33           5           0.05
1     34           5           0.05
37    35           1           0.01
2     36           5           0.05
44    37           1           0.01
16    38           2           0.02
36    39           1           0.01
43    40           1           0.01
46    41           1           0.01
39    42           1           0.01
38    43           1           0.01
49    45           1           0.01
15    46           2           0.02
35    47           1           0.01
18    48           2           0.02
32    49           1           0.01
17    50           2           0.02
47    51           1           0.01
33    52           1           0.01
26    53           1           0.01
7     54           4           0.04
3     55           4           0.04
28    56           1           0.01
22    57           2           0.02
11    58           3           0.03
30    59           1           0.01
29    61           1           0.01
8     62           3           0.03
25    63           2           0.02
40    64           1           0.01
31    65           1           0.01
42    66           1           0.01
4     67           4           0.04
21    68           2           0.02
6     70           4           0.04

In [ ]:
tabla_frec['Frec Porcentual'] = tabla_frec['Frecuencia'] / 100 * 100
tabla_frec

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
19    18           2           0.02              2.0
45    19           1           0.01              1.0
5     20           4           0.04              4.0
13    21           2           0.02              2.0
23    22           2           0.02              2.0
10    23           3           0.03              3.0
14    24           2           0.02              2.0
34    25           1           0.01              1.0
12    26           3           0.03              3.0
20    27           2           0.02              2.0
48    28           1           0.01              1.0
27    29           1           0.01              1.0
24    30           2           0.02              2.0
9     31           3           0.03              3.0
41    32           1           0.01              1.0
0     33           5           0.05              5.0
1     34           5           0.05              5.0
37    35           1           0.01              1.0
2     36           5           0.05              5.0
44    37           1           0.01              1.0
16    38           2           0.02              2.0
36    39           1           0.01              1.0
43    40           1           0.01              1.0
46    41           1           0.01              1.0
39    42           1           0.01              1.0
38    43           1           0.01              1.0
49    45           1           0.01              1.0
15    46           2           0.02              2.0
35    47           1           0.01              1.0
18    48           2           0.02              2.0
32    49           1           0.01              1.0
17    50           2           0.02              2.0
47    51           1           0.01              1.0
33    52           1           0.01              1.0
26    53           1           0.01              1.0
7     54           4           0.04              4.0
3     55           4           0.04              4.0
28    56           1           0.01              1.0
22    57           2           0.02              2.0
11    58           3           0.03              3.0
30    59           1           0.01              1.0
29    61           1           0.01              1.0
8     62           3           0.03              3.0
25    63           2           0.02              2.0
40    64           1           0.01              1.0
31    65           1           0.01              1.0
42    66           1           0.01              1.0
4     67           4           0.04              4.0
21    68           2           0.02              2.0
6     70           4           0.04              4.0

In [8]:
tabla_frec['Frec Acumulada'] = tabla_frec['Frecuencia'].cumsum()
tabla_frec

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
19    18           2           0.02              2.0               2
45    19           1           0.01              1.0               3
5     20           4           0.04              4.0               7
13    21           2           0.02              2.0               9
23    22           2           0.02              2.0              11
10    23           3           0.03              3.0              14
14    24           2           0.02              2.0              16
34    25           1           0.01              1.0              17
12    26           3           0.03              3.0              20
20    27           2           0.02              2.0              22
48    28           1           0.01              1.0              23
27    29           1           0.01              1.0              24
24    30           2           0.02              2.0              26
9     31           3           0.03              3.0              29
41    32           1           0.01              1.0              30
0     33           5           0.05              5.0              35
1     34           5           0.05              5.0              40
37    35           1           0.01              1.0              41
2     36           5           0.05              5.0              46
44    37           1           0.01              1.0              47
16    38           2           0.02              2.0              49
36    39           1           0.01              1.0              50
43    40           1           0.01              1.0              51
46    41           1           0.01              1.0              52
39    42           1           0.01              1.0              53
38    43           1           0.01              1.0              54
49    45           1           0.01              1.0              55
15    46           2           0.02              2.0              57
35    47           1           0.01              1.0              58
18    48           2           0.02              2.0              60
32    49           1           0.01              1.0              61
17    50           2           0.02              2.0              63
47    51           1           0.01              1.0              64
33    52           1           0.01              1.0              65
26    53           1           0.01              1.0              66
7     54           4           0.04              4.0              70
3     55           4           0.04              4.0              74
28    56           1           0.01              1.0              75
22    57           2           0.02              2.0              77
11    58           3           0.03              3.0              80
30    59           1           0.01              1.0              81
29    61           1           0.01              1.0              82
8     62           3           0.03              3.0              85
25    63           2           0.02              2.0              87
40    64           1           0.01              1.0              88
31    65           1           0.01              1.0              89
42    66           1           0.01              1.0              90
4     67           4           0.04              4.0              94
21    68           2           0.02              2.0              96
6     70           4           0.04              4.0             100